// Color
$color-primary: #03dac5;
$color-primary-light: #2cffea;
$color-primary-dark: #0e9b8d;
$color-primary-darker: #0c8679;

$color-secondary: #298deb;
$color-secondary-light: #44a5ff;
$color-secondary-dark: #226db3;

$color-black: #000000;
$color-black-1: #282c34;
$color-black-2: #363b42;

$color-white-1: #fff;

$color-grey-light-1: #eee;
$color-grey-light-2: #bbb;

$color-grey-dark-1: #777;
$color-grey-dark-2: #333;
$color-grey-dark-3: #333;

// Font
$font-size-small: 1.4rem;
$font-size-default: 1.6rem;
$font-size-big: 2rem;
$font-size-bigger: 4rem;

$font-size-big-tab-land: 3.8rem;

$font-size-default-phone: 1.2rem;
$font-size-big-phone: 2rem;

$font-size-big-mini-phone: 4rem;

// Margin
$margin-bottom-default: 2rem;


// Shadow
$shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);

$margin-from-header: -10rem;

$margin-from-header-phone: 15rem;

// Spaces
$space-corner: 1rem
