.button,
.navigation-button {
    border: none;
    border-radius: 2rem;
    font-size: $font-size-big;
    padding: 0.5rem 1rem;
    min-width: 15rem;
    background-color: $color-primary-dark;
    cursor: pointer;
    white-space: nowrap;
    color: inherit;

    &:active,
    &:focus {
        outline:none;
    }

    &:hover {
        background-color: $color-primary-darker;
    }
}

.navigation-button {
    background-color: $color-black-2;
    min-width: none;
    font-weight: bold;

    &:hover {
        background-color: $color-primary-darker;
    }
}